.hide {
  display: none!important;
}
.btn {
  display: inline-block;
  color: white;
  cursor: pointer;
  background-color: #5faff2;
  line-height: 30px;
  margin-right: 3px;
  padding: 0 11px;
  border-radius: 4px;
  vertical-align: middle;
  font-size: 13px;
}
.field-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #f4f4f4;
  font-family: Microsoft Yahei;
  border-top: 3px solid #5198D2;
}
.field-container h3 {
  margin: 0;
  line-height: 50px;
  color: #506470;
  border-bottom: 1px solid #f4f4f4;
  font-size: 16px;
  font-weight: initial;
  padding-left: 15px;
}
.field-container ul.list-container {
  padding: 0;
  padding-left: 30px;
  padding-bottom: 30px;
}
.field-container ul.list-container li {
  list-style: none;
  display: inline-block;
  border: 1px solid silver;
  border-radius: 4px;
  background-color: #5faff2;
  padding: 4px 8px;
  margin-right: 4px;
  margin-bottom: 4px;
}
.field-container ul.list-container li p {
  margin: 0;
  vertical-align: text-bottom;
  color: white;
  display: inline-block;
  margin-right: 3px;
}
.field-container ul.list-container li span.btn-remove {
  font-weight: 600;
  font-style: normal;
  vertical-align: baseline;
  padding: 0;
  font-size: 21px;
  line-height: 15px;
}
.field-container ul.list-container li span.btn-remove:before {
  content: '×';
}
.field-container .field-input-container {
  padding: 0;
  line-height: 72px;
  padding-left: 30px;
  border: 1px solid #f4f4f4;
}
.field-container .field-input-container input.field-input {
  width: 200px;
  height: 28px;
  color: #506470;
  line-height: 30px;
  margin-right: 5px;
  padding-left: 4px;
  border: 1px solid silver;
  border-radius: 4px;
  outline-color: #5198D2;
  display: inline-block;
}
