<!DOCTYPE html>
html(lang="en")

head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet', href='css/field.css')
    title 行业管理
body
    #app
script(src="js/react.js")
script(src="js/react-dom.js")
script(src="js/babel.min.js")
script(type="text/babel" src="js/fieldAdd.js")     