extends layout

block content
  div  
    #test
    #test2
block scripts
  script(src="js/react.js")
  script(src="js/react-dom.js")
  script(src="https://cdn.bootcss.com/babel-standalone/6.22.1/babel.min.js")
  script(type="text/babel" src="js/start.js")