<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title form
    style.
        input,select{
            line-height:1.5;
            height:30px;
            padding:5px 10px
        }
body
    #app    
script(src="../js/react.js")
script(src="../js/react-dom.js")
script(src="../js/babel.min.js")
script(src="../js/alt.js")
script(type="text/babel" src="../js/demo/form.js")  