doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Template • TodoMVC
    link(rel='stylesheet', href='../css/base.css')
    link(rel='stylesheet', href='../css/index.css')
    // CSS overrides - remove if you don't need it
    link(rel='stylesheet', href='../css/app.css')
    
    style.
      .hide{
        display:none!important;
      }
      .input_edit{
        white-space: pre;
        font-size: 24px;
        word-break: break-word;
        padding: 10px 60px 10px 10px;
        margin-left: 45px;
        font-weight: 100;
        display: block;
        line-height: 1.2;
        transition: color 0.4s;
        margin-left: 51px;
        color: #4d4d4d;
      }
      .todo-list li{
        min-height: 59px;
      }
      .toggle-all {
        top: 10px;      
        z-index: 9;
      }
      .todo-list li .toggle:after {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
      }

      .todo-list li.completed .toggle:after {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
      }
  body
    #root
    footer.info
      p Double-click to edit a todo
      // Remove the below line ↓
      p
        | Template by
        a(href='http://sindresorhus.com') Sindre Sorhus

      p
        | Created by XuNing
           
      p
        | Part of
        a(href='http://todomvc.com') TodoMVC
    // Scripts here. Don't remove ↓
  script(src="../js/react.js")
  script(src="../js/react-dom.js")
  script(src="../js/babel.min.js")
  script(src="../js/alt.js")
  script(type="text/babel" src="../js/start2.js")  