.hide {
    display: none!important;
}

.logo {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-left: 4px;
    vertical-align: middle;
}

.call-pop-container {
    position: absolute;
    z-index: 99999;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
}

.call-pop-container .call-pop-back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.call-pop-container .call-btn {
    position: relative;
    padding: 5px;
    background-color: #7fccff;
    color: white;
    border: none;
    border-radius: 3px;
}

.call-pop-container .call-btn:hover {
    background-color: #38a8f3;
}

.error-tip {
    color: red;
}

#success {
    color: green;
}

#confirm {
    width: 100%;
    margin-bottom: 8px;
    height: 27px;
}

.input-container {
    width: 100%;
    margin-bottom: 6px;
    margin-top: 10px;
}

.item-container input {
    margin: 5px 0;
    height: 27px;
    width: 100%;
    padding: 0 6px;
    box-sizing: border-box;
}
/* //content中的弹窗样式 */
.content-login-modal .content-login-modal-back{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.35);
}
.content-login-modal .modal-wrapper {
    z-index: 999999;
    position: fixed;    
    background: transparent;
    width: 350px;
    left: calc(50vw - 175px);
    top: 20%;
    text-align: center
}
.modal-wrapper .modal-content {    
    display:inline-block;
    background: white;
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 7px 5px 19px -3px;
}